@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav{ 
    width: 100%;
    height: 110px;
    background-color: navy;
    display: inline-block;
    box-sizing: border-box;
    position: fixed;
    font-family: 'Fuzzy Bubbles', cursive;
    box-shadow: -1px 5px black;
    border: 5px solid black;
  }

nav ul{
    float: right;
    list-style-type: none;
    font-size: x-large;
  }

nav ul li{
    display: inline-block;
    margin: 15px;
  }

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
  }

nav ul li a:hover{
  color: silver;
}

h1 {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    text-shadow: -3px 2px silver;
  }

nav header img{
    float: left;
    width: 105px;
    height: 110px
  }
  
body{
    font-family: 'Fuzzy Bubbles', cursive;
    margin:0;
    background: silver;
    background-size: cover;
  }
  
video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }

  iframe.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
p{
  color: black;
  text-shadow: 1px 1px white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}
  
.overlay{
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    min-height: 50vh;
    justify-content: center;
  }
  
.overlay h2{
    color: white;
    mix-blend-mode: overlay;
    text-align: center;
    font-size: 50px;
    text-shadow: 6px 2px navy;
  }

  .overlay p{
    margin-top: 200px;
    margin-bottom: 100px;
  }


h3{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px navy;
  }

h4{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px navy;

  }

h5{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px navy;
  }
  
  h6{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px navy;
  }

.center img{
  height: 200px;
  width: 150px;
  margin-right: auto;
  margin-left: 150px;
}

.container{
  color: white;
  text-shadow: 1px 1px silver;
  margin-bottom: 100px;
}
input[type=text], select, textarea {
  width: 18%;
  padding: 10px;
  border: 4px solid silver;
  border-radius: 9px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: silver;
}

.container {
  border-radius: 5px;
  background-color: navy;
  padding: 20px;
}
  
footer{
    background-color: navy;
    width: 100%;
    height: 260px;
    text-align: center;
    margin-top: 50px;
    border: 4px solid black;
  }

.footer .row {
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
}

.row ul li a:hover{
  color: silver;
}


.fa {
    padding: 20px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
      opacity: 0.7;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
.fa-instagram {
  background: darkorchid;
  color: white;
}
  
footer .row ul li a{
  color: white;
}

  footer .row{
    color: white;
    margin: 20px;
  }
