@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav{ 
    width: 100%;
    height: 110px;
    background-color: navy;
    display: inline-block;
    box-sizing: border-box;
    position: fixed;
    font-family: 'Fuzzy Bubbles', cursive;
    box-shadow: -1px 5px black;
    border: 5px solid black;
  }

nav ul{
    float: right;
    list-style-type: none;
    font-size: x-large;
  }

nav ul li{
    display: inline-block;
    margin: 15px;
  }

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
  }

h1 {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    text-shadow: -3px 2px silver;
  }

img{
    float: left;
    width: 105px;
    height: 110px
  }
  
body{
    font-family: 'Fuzzy Bubbles', cursive;
    margin:0;
    background: silver;
    background-size: cover;
  }
  
video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
  
.overlay{
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    min-height: 60vh;
    justify-content: center;
  }
  
.overlay h2{
    color: white;
    mix-blend-mode: overlay;
    text-align: center;
    font-size: 50px;
    text-shadow: 6px 2px navy

  }
  
h3{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px navy
  }

h4{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px navy

  }

h5{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px navy
  }
  
footer{
    background-color: navy;
    width: 100%;
    height: 125px;
    margin-top: 50px;
    border: 4px solid black;
  }

.fa {
    padding: 20px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
      opacity: 0.7;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
.fa-instagram {
  background: darkorchid;
  color: white;
}
  
iframe.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }